// Breakpoints
// ======================================================
$breakpoints: (
  huge: 1400 + 294,
  desktop: 1400,
  small-desktop: 1200,
  tablet: 1000,
  phablet: 700,
  mobile: 500,
  mobile-s: 320
);

@mixin break ($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  $size-in-pixel: $size * 1px;
  @media (max-width: $size-in-pixel) {
    @content;
  }
}

.content p li {
  position: relative;
  margin: 14px 0;
  padding-left: 20px;

  &:before {
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border: 3px solid #C54552;;
    border-radius: 50%;
    left: 2px;
    top: 5px;
  }
}

